.rueda {
  -webkit-animation: rotando 3s linear infinite;
  animation: rotando 3s linear infinite;
  -webkit-transform-origin: 55%;
  -ms-transform-origin: 55%;
  transform-origin: 55%;
  transform-box: fill-box;
  /* <--- */
}

@-webkit-keyframes rotando {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotando {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//movimiento corchetes svg
.corchetes {
  -webkit-animation: ladoAlado 2s ease-in-out infinite;
  animation: ladoAlado 2s ease-in-out infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes ladoAlado {
  0% {
    -webkit-transform: translate(150px, 0px);
    transform: translate(150px, 0px);
  }
  100% {
    -webkit-transform: translate(150, 0);
    transform: translate(150, 0);
  }
}

@keyframes ladoAlado {
  0% {
    -webkit-transform: translate(150px, 0px);
    transform: translate(150px, 0px);
  }
  100% {
    -webkit-transform: translate(150, 0);
    transform: translate(150, 0);
  }
}