//primer esquema de color
$white: #fff;
//segundo esquema de color
$black: #000000;
$sable: #060606;
$charcoal: #2e1503;
//tercer esquema de color
$targerine: #ffaf6d;
$orange: #ffa500;
//tipografia
$poppins: 'Poppins',
sans-serif;
$ubuntu: 'Ubuntu',
sans-serif;
//peso de fuente
$regular: 400;
$bold: 700;
//tamaño de fuente
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;