.header__container {
  display: flex;
  justify-content: center;
  img {
    width: 100%;
    height: 15em;
    @include medium {
      width: 98%;
      height: 25em;
    }
    @include large {
      width: 98%;
      height: 30em;
    }
  }
}