.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  img {
    width: 100%;
    height: 15em;
    @include medium {
      width: 98%;
      height: 25em;
    }
    @include large {
      width: 98%;
      height: 30em;
    }
  }
}